vim/bundle/command-t/ruby/command-t/mkmf.log
vim/bundle/command-t/ruby/command-t/Makefile
vim/bundle/command-t/ruby/command-t/ext.o
vim/bundle/command-t/ruby/command-t/ext.so
vim/bundle/command-t/ruby/command-t/match.o
vim/bundle/command-t/ruby/command-t/matcher.o
